<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./static/250624_style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://kit.fontawesome.com/b49ddc422b.js" crossorigin="anonymous"></script>
	<title>부산 공영장례 추모관</title>
</head>
<body>
	<div class="pc_view">

	</div>
	<div class="mobile_view">
		<!-- header -->
		<div class="header" id="header_obj">
			<div class="header-title">
				부산 공영장례<br>추모관<small style="font-size: 16px;"></small>
			</div>
			<div class="header-content">
				<span class="header-content-bold">공영장례</span>는 무연고자 또는 장례를 치를 수 없는 분들에게 공공이 애도의 공간과 시간을 보장하는 것입니다. <span class="header-content-bold">부산시민 공영장례 조문단</span>은 16개 구군에 조문을 다니며 실질적 의미를 채우고 있습니다. 직접 조문가지 못하더라도 온라인 추모로 함께해 주세요.
			</div>
			<div class="logo_box">
				<img src="./static/org_logo/logo.svg" class="logo_file">
				<img src="./static/org_logo/logo-2.svg" class="logo_file">
			</div>
	        <div style="height: 20px; width: 100%;"></div>
		</div>

<div id="disqus_thread" style="width: 85%;  margin: 0 auto;"></div>
<script>
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://obit-bapc-kr.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

	</div>
	<div class="icon_ribbon"></div>
	<div class="menu">
		<button class="menu_button leftside dark" onclick="location.href=`/index.html`"><i class="fa-solid fa-arrow-rotate-left"></i>&nbsp;<strong>이전 페이지</strong><br>되돌아가기</button>
	</div>
</body>
</script>
</body>
</html>